<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title '' %} - Plopleo</title>
    <meta name="description" content="Léopold Pelissier, développeur web" />
    <meta name="keywords" content="leopold, pelissier, dev, web, developpeur, php, html, css, js, bootstrap, jquery, git, lyon" />
    <meta name="author" content="Léopold Pelissier" />

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{ asset('img/logo.png') }}" />

    <!-- Font Awesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Slick slider -->
    <link href="{{ asset('css/slick.css') }}" rel="stylesheet">
    <!-- Gallery Lightbox -->
    <link href="{{ asset('css/magnific-popup.css') }}" rel="stylesheet">
    <!-- Theme color -->
    <link id="switcher" href="{{ asset('css/default-theme.css') }}" rel="stylesheet">

    <!-- Main Style -->
    <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css"/>

    <!-- Fonts -->

    <!-- Open Sans for body font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800" rel="stylesheet">
    <!-- Poppins for Title -->
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
</head>
<body>

<!-- Start Header -->
<header id="mu-header" class="" role="banner">
    <div class="container">
        <nav class="navbar navbar-default mu-navbar">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    {% if false %}
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    {% endif %}

                    <!-- Text Logo -->
                    <a class="navbar-brand" href="#">Plopleo</a>

                    {% if false %}
                    <!-- Image Logo -->
                    <a class="navbar-brand" href="#"><img src="{{ asset('img/logo.png') }}"></a>
                    {% endif %}
                </div>

                {% if false %}
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav mu-menu navbar-right">
                        <li><a href="{{ path('homepage') }}#">HOME</a></li>
                        <li><a href="{{ path('homepage') }}#mu-about">À PROPOS</a></li>
                        <li><a href="{{ path('homepage') }}#mu-contact">CONTACT</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
                {% endif %}

            </div><!-- /.container-fluid -->
        </nav>
    </div>
</header>
<!-- End Header -->

{% block content %}{% endblock %}

{% if false %}
<!-- Start footer -->
<footer id="mu-footer" role="contentinfo">
    <div class="container">
        <div class="mu-footer-area">
            <p class="mu-copy-right">&copy; Copyright plopleo.com</p>
        </div>
    </div>
</footer>
<!-- End footer -->
{% endif %}

<!-- jQuery library -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Bootstrap -->
<script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
<!-- Slick slider -->
<script type="text/javascript" src="{{ asset('js/slick.min.js') }}"></script>
{% if false %}
<!-- Filterable Gallery js -- besoin pour la partie portfolio -->
<script type="text/javascript" src="{{ asset('js/jquery.filterizr.min.js') }}"></script>
{% endif %}
<!-- Gallery Lightbox -->
<script type="text/javascript" src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
<!-- Ajax contact form  -->
<script type="text/javascript" src="{{ asset('js/app.js') }}"></script>
<!-- Featured Slider -->
<script type="text/javascript" src="{{ asset('js/typed.min.js') }}"></script>
<!-- On scroll JS  -->
<script type="text/javascript" src="{{ asset('js/jquery.appear.js') }}"></script>
<!-- Progress Bar -->
<script type="text/javascript" src="{{ asset('js/jquery.lineProgressbar.js') }}"></script>


<!-- Custom js -->
<script type="text/javascript" src="{{ asset('js/custom.js') }}"></script>
</body>
</html>
